[user]
	name = xudafeng
	email = xudafeng@126.com
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[color]
	ui = true
[alias]
	alias = "!f(){ git config -l | grep alias; };f"
	st = status --short --branch
  ci = commit
[merge]
	tool = vimdiff
